# Dependencias
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/
build/
dist/
next-env.d.ts

# Misc & System
.DS_Store
*.pem
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Variables de entorno (CRÍTICO: NO BORRAR)
.env*.local
.env

# Vercel
.vercel